@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
*, table{text-align: center;}
table{margin:auto;}
h1{font-family: "Nanum Brush Script", cursive;
    font-size:50px
}
img{width:400px; height:250px}
h3{
    text-decoration: underline
}
#price{text-decoration: line-through;font-size:20px}